@layer components {
	.custom-class {
		&:has(input:disabled) {
			background-color: blue;
		}
		background-color: red;
		transition: background-color,
			color,
			border;
		animation: test infinite linear 2s;
	}

	@keyframes test {
		50%: {
			scale: 2;
		}
	}

	.test-class {
		background-color: green;
		color: red;
	}
}